.row {
  width: 100%;
}
.wrapper {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-bottom: 80px;
}

.header {
  background-color: darkslategray !important;
}

.footer {
  height: 60px;
  padding: 1rem;
  width: 100%;
  position: fixed;
  background-color: darkslategray;
  color: white;
  bottom: 0px;
}

.navbar-item {
  color: white;
  text-decoration: none;
}

.centered {
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-text {
  font-size: small;
}

.a-link {
  text-decoration: none;
  color: black;
}

.login-card,
.register-card,
.contact-us-card,
.comment-card {
  background-color: darkslategray;
  color: white;
}

.card-alternative {
  color: black;
}
